streamlit
pandas
numpy
plotly
matplotlib
wordcloud
streamlit-option-menu
seaborn
scikit-learn
beautifulsoup4
joblib
scikit-learn
nltk==3.8.1
requests
seleniumbase
webdriver-manager
emoji
langdetect
Pillow
dill
urljoin
gdown
tensorflow
st_pages
