streamlit
pandas
numpy
plotly
matplotlib
wordcloud
streamlit-option-menu
seaborn
scikit-learn
beautifulsoup4
joblib
nltk==3.8.1
webdriver-manager
emoji
langdetect
Pillow
dill
urljoin
gdown
tensorflow
st_pages
streamlit-extras
pdf2image
requests>=2.32.0
six==1.16.0
